
.message {

    weight: 200px;
    height: 100px;
    padding: 200px;
    background: #81c7ff;
    color: #ededed;
}

.cloud {
    border-radius: 10px;
    height: auto;
    max-width: 400px;
    padding: 20px;
    position: relative;
    background-color: white;
    color: black;
}

.cloud:before {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    background-image: url("https://avatarko.ru/img/avatar/11/devushka_blondinka_10873.jpg");
    background-size: 100% 100%;
    position: absolute;
    bottom: 0%;
    left: -140px;
    content: '';
}

.cloud:after {
    border: 15px solid transparent;
    border-bottom-color: white;
    position: absolute;
    bottom: 0%;
    left: -15px;
    content: '';
}

.nameMessage {

    color: #ff6332;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    margin-left: -300px;
}

.mainMessage {

    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    word-wrap: break-word;

}

.time {
    color: #ff6332;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    font-weight: bold;
}